{% extends "base/base.html" %}
{% load static %}

{% block content %}
<div class="box">
    <div class="border-bot">
      <div class="right-bot-corner">
        <div class="left-bot-corner">
          <div class="inner">
            <div class="box1 alt">
              <div class="inner">
                <h4><b>Nuestros </b> Servicios</h4>
                <h4><b>PARA</b> COMPRADORES</h4>
                <p class="p0">Realizamos las demostraciones de los vehículos con los interesados incluyendo las pruebas de manejo. Finalmente realizamos las coordinaciones con los compradores para la sesión de firma en la notaría y la respectiva entrega del vehículo..</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="indent">
    <div class="wrapper">
      <div class="col-1">
        <h4><b>AHORRE </b> TIEMPO</h4>
        <p>Evite pasar horas investigando y comparando las características, marcas, modelos y precios de vehículos disponibles en el mercado, tratando de decidir cual es el vehículo adecuado para usted. No pierda tiempo en evaluar autos leyendo cientos de anuncios clasificados impresos, visitando decenas de páginas web y de tiendas de autos. En CAR ADVISORY hacemos la búsqueda por usted, considerando las variables que PARA USTED son importantes, como valor de venta, costos de mantenimiento, consumo de combustible, performance, seguridad, fiabilidad, costos de seguros, etc.</p>
     
        <h4><b>AHORRE </b> DINERO</h4>       
        <p class="p0">
          No pague sobreprecio por el vehículo usado que piensa comprar. Nosotros negociamos por usted el mejor precio en base a nuestro conocimiento del mercado.</p>

        <h4><b>AHORRE </b> PROBLEMAS </h4>    
        <p class="p0">Nos encargamos de revisar toda la documentación del vehículo. Usted paga en la notaría con la tranquilidad de que el auto será inscrito a su nombre en el menor tiempo posible.</p>

      </div>
    </div>
  </div>
  {% endblock %}