{% extends "base/base.html" %}
{% load static %}

{% block content %}
<ul class="box-list">
    <li>
      <div class="box">
        <div class="border-bot">
          <div class="right-bot-corner">
            <div class="left-bot-corner">
              <div class="inner">
                <div class="box1">
                  <div class="inner">
                    <h4><b>Deportivo</b></h4>
                    <p> Porsche, Mazda, BMW, Mercedes-Benz, Chevrolet, Honda, Ford, Fiat ,etc <a href="#"><img src="images/arrow.gif" alt="" /></a></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </li>
    <li class="alt">
      <div class="box">
        <div class="border-bot">
          <div class="right-bot-corner">
            <div class="left-bot-corner">
              <div class="inner">
                <div class="box1">
                  <div class="inner">
                    <h4><b>Todo</b> Terreno</h4>
                    <p>Toyota Land Cruiser, Suzuki Jimny, Land Rover Discovery, BMW X5, Dacia Duster,Fiat Panda Cross 4×4, etc. <a href="#"><img src="images/arrow.gif" alt="" /></a></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </li>
    <li class="last">
      <div class="box">
        <div class="border-bot">
          <div class="right-bot-corner">
            <div class="left-bot-corner">
              <div class="inner">
                <div class="box1">
                  <div class="inner">
                    <h4><b>Económico</b> </h4>
                    <p>Tata, Bajaj Qute, Fiat 500, Chery QQ, Maruti, Geely, Dacia Logan, Honda Fit, etc. <a href="#"><img src="images/arrow.gif" alt="" /></a></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </li>
  </ul>
  <div class="indent">
    <div class="wrapper">
      <div class="col-1">
        <h3><b>Bienvenidos a</b> Car Advisory</h3>
        <p>Sitio web en donde encontraras a los mejores asesores de autos pre-compra al precio de su bolsillo.</p>
        <div class="img-box1"><img src="images/1page-img.jpg" alt="" />
          <p class="p0">Nosotros sabemos lo importante que es elegir bien a la hora de comprar un auto. 
           <a href="#">CarAdvisory </a> Selecciona a los mejores asesores de autos para tu completa seguridad y sin costos excesivos.</p>
        </div>
        <p> <a href="#"></a> .</p>
        <p class="p0"></p>
      </div>
    </div>
  </div>
  {% endblock %}