{% extends "base/base.html" %}
{% load static %}

{% block content %}
<br>
<br>
<br>
<br>
<br>
<br>

<table>
    <thead>
        <tr>
            <th>Cliente</th>
            <th>Asesor</th>
            <th>Asunto</th>
            <th>Fecha</th>
        </tr>
    </thead>
    <tbody>
        {% for contrata in contratas %}
        <tr>
            <td>{{ contrata.cliente.nombre }} {{ contrata.cliente.apellido }}</td>
            <td>{{ contrata.asesor.nombre }}</td>
            <td>{{ contrata.asunto }}</td>
            <td>{{contrata.fecha|date:"d-m-Y P" }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<br>

<style>
    
table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  border: 3px solid black;
}

thead th:nth-child(1) {
  width: 30%;
}

thead th:nth-child(2) {
  width: 20%;
}

thead th:nth-child(3) {
  width: 15%;
}

thead th:nth-child(4) {
  width: 35%;
}

th, td {
  padding: 20px;
}
html {
  font-family: 'helvetica neue', helvetica, arial, sans-serif;
}

thead th, tfoot th {
  font-family: 'Rock Salt', cursive;
}

th {
  letter-spacing: 2px;
}

td {
  letter-spacing: 1px;
}

tbody td {
  text-align: center;
}

tfoot th {
  text-align: right;
}
</style>
{% endblock %}